*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif
}
h1 h2{
    text-align: center;
}
.top{
    background-color: Tomato;
    color: white;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: Seashell;
    height: 500px;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2{
    margin-top: 20px;
}
.opinie{
    height: 220px;
    width: 700px;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px dimgray;
    display: flex;
    background-color: white;
    color: DimGray;
}
.zdjecie{
    margin: 10px;
    /* flex-basis: 40%; */
}
.zdjecie img{
    border-radius: 10px;
    height: 170px;
}
.tekst{
    text-align: justify;
    margin: 10px;
    margin-right: 40px;
}
.text{
    font-style: italic;
    margin-top: 10px;
    flex-basis: 60%;
}
.autor{
    padding: 10px;
    font: 24px;
    font-style: italic;
    text-align: end;
    font-weight: bold;
}
footer{
    background-color: Tomato;
    color: white;
    display: flex;
    height: 169px;
    flex-wrap: wrap;
}
.text1{
    flex-basis: 25%;
    margin-top: 20px;
}
.text1 h3{
    margin-bottom: 20px;
}
.text1 a:link{
    color: white;
}
.text1 a:visited{
    color: white;
}
.text2{
    flex-basis: 25%;
    margin-top: 20px;
}
.lista{
    padding: 20px 0 0 50px;
}
.text3{
    flex-basis: 25%;
    margin-top: 20px;
}
.text3 p{
    margin-top: 20px;
}
.text4{
    flex-basis: 25%;
    margin-top: 20px;
}